/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


/* ----- Variables ----- */
:root {
    /* primary colors */
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    /* nutral colors */
    --dark-gray: hsl(0, 0%, 59%);
    --font-size-name-stats: 18px;
    --font-family-kumbh-sans: 'Kumbh Sans', sans-serif;
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */

body {
    font-family: var(--font-family-kumbh-sans);
    background: var(--dark-cyan);
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
}

.container img {
    position: absolute;
    width: 70%;
    height: auto;
}

.img-left {
    right: 50%;
    bottom: 38%;
    position: static;
}

.img-right {
    left: 46%;
    top: 56%;
    position: static;
}

.card-detail {
    width: 464px;
    height: 500px;
    background: white;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.card-detail>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: 31.5%;
    margin-left: 39.5%;
}

.card-detail-above {
    width: 100%;
    height: 78%;
    background-image: url('../images/bg-pattern-card.svg');
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.card-content-below {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.card-content-below h2 {
    margin-bottom: 0;
    color: var(--very-dark-desaturated-blue);
    margin-top: 28px;
}

.card-content-below h2 span {
    color: var(--dark-grayish-blue);
    font-weight: normal;
    margin-left: 16px;
}

.card-content-below>p {
    color: var(--dark-gray);
    font-size: 18px;
    margin-top: 14px;
}

.details {
    width: 99.4%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    border-top: 1px solid var(--dark-gray);
    margin-top: 4%;
}

.details p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    margin-top: -1.6;
}

.details p span:nth-child(1) {
    font-size: 1.4em;
    font-weight: 600;
    color: var(--very-dark-desaturated-blue);
}

.details p span:nth-child(2) {
    font-size: 14px;
    color: var(--dark-gray);
    margin-top: 6px;
}


@media screen {
    .img-left {
        right: 50%;
        bottom: 38%;
        position: static;
    }

    .img-right {
        left: 46%;
        top: 56%;
        position: static;
    }

    .card-detail>img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid white;
        margin-top: 31.5%;
        margin-left: 39.5%;
    }
}

@media (max-width: 996px) {
    .container img {
        width: 100%;
    }

    .img-left {
        right: 44%;
        bottom: 66%;
        position: static;
    }

    .img-right {
        left: 36%;
        top: 66%;
        position: static;
    }

    .card-detail>img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid white;
        margin-top: 31.5%;
        margin-left: 39.5%;
    }
}

@media (max-width: 647px) {

    .container img {
        width: 487px;
    }

    .img-left {
        right: 40%;
        bottom: 60%;
        position: static;
    }

    .img-right {
        left: 58%;
        top: 58%;
        position: static;
    }

    .card-detail {
        width: 86%;
        height: 56%;
    }

    .card-detail>img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid white;
        margin-top: 29.5%;
        margin-left: 33.5%;
    }

    .card-content-below h2 span {
        margin-left: 12px;
    }

    .card-content-below>p {
        margin-top: 12px;
        margin-bottom: 12px;
        margin-top: 8px;
    }

    .card-content-below h2 {
        font-size: 1.3em;
    }

    .details p span:nth-child(1) {
        font-size: 1.2em;
    }

    .card-content-below>p {
        font-size: 16px;
    }
    .details{
        height: 31%;
    }
    .details p span:nth-child(2) {
        font-size: 12px;
        margin-top: 4px;
    }
}